.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 3fr auto;
  height: 100vh;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 15px 0 25px;
  background-color: #cacaca;
}

.main {
  background-color: #008080;
}

.list {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-bottom: 2px solid #cacaca;
  color: #cacaca;
  position: relative;
}

.navLinks {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
}

.navLinksOne {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
}

.sectionCarusel {
  padding: 15px 0;
}

.footer {
  padding: 15px 0 25px;
  background-color: #cacaca;
}
